@page
@model ContactModel

@{
    this.ViewData["Title"] = "Contact Information";
}

<div class="card">
    <div class="card-header text-center">
        <h3 class="card-title">Contact information</h3>
    </div>
    <div class="card-body row">
        <div class="ms-4 me-auto">
            <address>
                <wiki key="xu.math" /><br />
                <wiki key="xu" /><br />
                <wiki key="xu.zip" /><br />
                <abbr title="Phone">P:</abbr>
                (513) 745-3860
            </address>

            <address>
                <strong>Email:</strong> <a class="wiki-link" href="mailto:sokolovg@xavier.edu">sokolovg@xavier.edu</a>
                <br />
                <strong>Blog:</strong> <a class="wiki-link" rel="me" href="https://tech.lgbt/@@ropufu" target="_blank">https://tech.lgbt/@@ropufu</a>
            </address>
        </div>
    </div>
</div>
