@page
@model IndexModel
@{
    ViewData["Title"] = "Greg Sokolov's Home Page";
}

<div class="card">
    <div class="card-header text-center warm-yellow">
        <h3 class="card-title">
            <span class="align-middle">Hi, my name is Grisha</span>
            <embed-content src="/images/totoro.svg" />
        </h3>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <h5 class="text-muted">A little bit about me</h5>
            <p>
                I was born and grew up in Moscow.
                In 2008 I received my M.S. in Applied Mathematics and Physics and shortly afterward moved to Los Angeles to study mathematics.
                But I do have to say that I still consider myself a bit of a physist.
            </p>
            <p>
                In 2014 I graduated from the <wiki key="usc.math" /> at <wiki key="usc" /> under the supervision of Prof. <wiki key="tartakov" /> and Prof. <wiki key="lototsky" />.
                My postdoc years I spent at the <wiki key="bu.math" /> at <wiki key="bu" />, where in addition to the usual stuff I fell in love with topology.
                The following six years I spent at <wiki key="xu" /> where I leaned sooo much from my dear friends at the <wiki key="xu.math" />.
                @if (DateTime.Now < new DateTime(2023, 07, 29))
                {
                    <text>Although technically I am unemployed, starting Fall 2023 I will work at <wiki key="tcnj" />.</text>
                }
                else
                {
                    <text>I work at <wiki key="tcnj" />.</text>
                }
            </p>
            <p>
                I will finish off with my favorite quote which I discovered <s>not so long</s> while watching one of the <wiki key="periodic.videos" /> about <wiki key="exploding.H.bubbles" />:
            </p>
            <div class="card-body">
                <blockquote class="blockquote mb-0" cite="https://www.youtube.com/watch?v=d49TzVF1gmY&t=203">
                    <p class="h6"><em>And it's always good to be wrong. It shows that you are learning something.</em></p>
                    <footer class="h6 mt-1">&mdash; <wiki key="poliakoff" /></footer>
                </blockquote>
                @*<blockquote class="blockquote mb-0" cite="https://www.youtube.com/watch?v=1HM_YBEfEDA&t=238">
                    <p>And anything that makes you think is good.</p>
                    <footer class="h6 mt-1">&mdash; <wiki key="poliakoff" /></footer>
                </blockquote>*@
            </div>
        </li>
        <li class="list-group-item">
            <h5 class="text-muted">Research interests</h5>
            <p>
                When not teaching, I am primarily interested in applied probability and theoretical statistics (sequential analysis, to be more specific).<br />
                In the past I've also had a lovely time with numerical analysis and parallel programming. I still find the computer science aspect of mathematical research quite fascinating.<br />
            </p>
        </li>
        <li class="list-group-item">
            <h5 class="text-muted">Links and references</h5>
            You can find more information in my <a class="wiki-link" href="~/documents/cv.pdf" target="_blank">CV</a>, and find some of my work on:
            <ul>
                <li><wiki key="my.arxiv" /></li>
                <li><wiki key="my.github" /></li>
            </ul>
        </li>
        <li class="list-group-item">
            <h5 class="text-muted">Possibly irrelevant</h5>
            <p>
                I love to sail, I cannot play the piano as well as I would like to, and the number of slides I claim to have on my presentations is 1729.
                I also suspect that Ahasver is my ancestor.
            </p>
        </li>
    </ul>
</div>
